* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  }
  
  body {
    background-color: #fcfaf9;
    color: #191826;
    width: 375px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  header {
    background-image: url('./assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: top -150px right -200px;
    padding: 40px 24px 80px 24px;
    margin-bottom: 60px;
  }
  
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .mobile-container {
    display: flex;
    justify-content: center;
    margin-bottom: -330px;
  }
  
  .mobile-app {
    width: 210px;
    height: 430px;
    margin-top: -100px;
  }
  
  .background-container {
    width: 100%;
    height: 600px;
    background-color: #191826;
    background-image: url('./assets/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 280px;
    border-radius: 12px;
  }
  
  .Info-container {
    background-color: #fa7453;
    color: #fcfaf9;
    font-size: 18px;
    line-height: 28px;
    margin-top: -220px;
    padding: 48px 36px;
    border-radius: 12px;
  }
  
  h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  
  .Info-container > p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 12px;
    margin-bottom: 36px;
  }
  
  .price-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .price {
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    margin-right: 16px;
  }
  
  .apple-container {
    background-color: #191826;
    color: #fcfaf9;
    width: 100%;
    height: 61px;
    border-radius: 12px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 14px 75px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .apple-container:hover {
    background-color: #66e2dc;
  }
  
  .android-container {
    background-color: #fcfaf9;
    color: #191826;
    width: 100%;
    height: 61px;
    border-radius: 12px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 55px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .android-container:hover {
    background-color: #ffb964;
  }
  
  footer {
    padding: 60px 24px 70px 24px;
  }
  
  .footer-text {
    margin-top: 26px;
    margin-bottom: 50px;
  }
  
  .icon {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .icon:hover {
    filter: invert(52%) sepia(50%) saturate(701%) hue-rotate(323deg)
      brightness(100%) contrast(96%);
  }
  
  .instagram-icon {
    margin: 0 20px;
  }
  
  @media screen and (min-width: 700px) {
    body {
      width: 700px;
      font-size: 18px;
      line-height: 28px;
    }
  
    header {
      background-image: url('./assets/bg-main-tablet.png'),
        url('./assets/bg-pattern-1.svg');
      background-repeat: no-repeat, no-repeat;
      background-position: top -150px right -200px, top -50px right -50px;
      padding: 60px 215px 220px 40px;
      margin-bottom: 0;
    }
  
    h2 {
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -0.727273px;
      margin-top: 80px;
      margin-bottom: 28px;
    }
  
    main {
      width: 100%;
      padding: 0 36px;
    }
  
    .mobile-container {
      display: flex;
      justify-content: start;
      margin-bottom: -420px;
      margin-left: 40px;
    }
  
    .mobile-app {
      width: 250px;
      height: 520px;
      margin-top: -100px;
    }
  
    .Info-container {
      width: 380px;
      height: 100%;
      display: inline-block;
      margin-top: -450px;
      margin-left: 220px;
      padding: 48px 42px;
    }
  
    .price-container > p {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.2px;
    }
  
    footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 40px 80px 35px;
    }
  
    .footer-text {
      width: 360px;
      margin-top: 30px;
      margin-bottom: 0;
    }
  
    .footer-text > p {
      display: inline-block;
    }
  }
  
  @media screen and (min-width: 1200px) {
    body {
      width: 1200px;
      font-size: 20px;
      line-height: 34px;
    }
  
    header {
      background-image: url('./assets/bg-main-desktop.png'),
        url('./assets/bg-pattern-1.svg');
      background-position: top -150px right -200px, top -50px right;
      padding: 60px 250px 260px 130px;
      margin-bottom: 0;
    }
  
    h2 {
      font-size: 75px;
      line-height: 75px;
      letter-spacing: -1px;
      margin-bottom: 50px;
    }
  
    main {
      padding: 0 130px;
    }
  
    .mobile-container {
      margin-bottom: -420px;
      margin-left: 80px;
    }
  
    .mobile-app {
      width: 260px;
      height: 540px;
      margin-top: -160px;
    }
  
    .Info-container {
      margin-left: 490px;
    }
  
    footer {
      padding: 80px 130px;
    }
  
    .logo-text {
      width: 630px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  
    .footer-text {
      width: 380px;
      margin-top: 0;
    }
  }